<div class="mx-auto w-full p-4">
<h1 class="font-bold text-2xl mb-4">Importa Distinta</h1>
<%= button_to "Salva", bill_of_materials_path(bill_of_material: @bill_of_material), class: "bg-green p-2 rounded text-light" %>
<div class="flex gap-2 my-4">

</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <h2 class="text-xl my-2 font-bold">Componenti</h2>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
        <thead class="text-xs text-white uppercase bg-gray-dark text-light">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Codice
                </th>
                 <th scope="col" class="px-6 py-3">
                    Nome
                </th>
                 <th scope="col" class="px-6 py-3">
                    Gruppo
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantita'
                </th>
            </tr>
        </thead>

        <tbody>
          <% @bill_of_material_lines.each do | line | %>
            <tr class="bg-blue text-light">
               <td class="px-6 py-4">
                <%= line[:code] %>
              </td>
              <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  <%= line[:name] %>
              </th>
               <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                  <%= line[:group_code] %>
              </th>
              <td class="px-6 py-4">
                <%= line[:component_quantity] %>
              </td>
            </tr>
          <% end %>

          
        </tbody>
</div>
    </table>
    <h2 class="text-xl my-2 font-bold">Gruppi</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <table class="w-full text-sm text-left text-light">
        <thead class="text-xs text-white uppercase bg-gray-dark dark:text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Codice
                </th>
               
               
            </tr>
        </thead>

        <tbody>
           <% session[:groups].each do | group | %>
            <tr class="bg-blue text-light">
              
               <td class="px-6 py-4">
                <%= group[:code] %>
              </td>
               
             
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
</div>

  
</div>
