<div class="mx-auto w-full p-4">
  <h1 class="font-bold text-gray-dark text-4xl">Importa Distinta</h1>
  <div class="bg-gray-dark p-4 rounded text-light mt-4">
    <p>Questi sono i componenti e i gruppi che verranno salvati. Se sono corretti come sul file excel clicca <strong>Salva</strong> per importarli nel gestionale. </p>
    <p>Se la data e' presente nella colonna <strong>Esistente</strong> significa che il componente e' gia' stato importato da una distinta precedente.</p>
    <p>Una volta fatto questo nella prossima pagina potrai inserire il link dell'ordine di acquisto per associare i nomi dei gruppi, pdf e dxf.</p>
    
    <%= button_to "Salva", bill_of_materials_path(bill_of_material: @bill_of_material), class: "mt-4 bg-green p-2 rounded text-light" %>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <h2 class="text-xl my-4 font-bold text-gray-dark">Componenti</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
        <thead class="text-xs text-white uppercase bg-gray-dark text-light">
          <tr>
            <th scope="col" class="px-6 py-3">
              Codice
            </th>
            <th scope="col" class="px-6 py-3">
              Nome
            </th>
            <th scope="col" class="px-6 py-3">
              Esistente
            </th>
             <th scope="col" class="px-6 py-3">
              Gruppo
            </th>
            <th scope="col" class="px-6 py-3">
              Quantita'
            </th>
          </tr>
        </thead>
        <tbody>
          <% @bill_of_material_lines.each do | line | %>
            <tr class="bg-blue text-light">
              <td class="px-6 py-4">
                <%= line[:code] %>
              </td>
              <td scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                <%= line[:name] %>
              </td>
              <td>
                <%= line[:existing].strftime('%d-%m-%Y %H:%M') if line[:existing].present? %>
              </td>
              <td scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                <%= line[:group_code] %>
              </td>
              <td class="px-6 py-4">
                <%= line[:component_quantity] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
    <h2 class="text-xl my-2 font-bold">Gruppi</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-light">
      <thead class="text-xs text-white uppercase bg-gray-dark dark:text-white">
        <tr>
          <th scope="col" class="px-6 py-3">
            Codice
          </th>      
        </tr>
      </thead>
      <tbody>
        <% session[:groups].each do | group | %>
          <tr class="bg-blue text-light">
            <td class="px-6 py-4">
              <%= group[:code] %>
            </td>   
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
