<% if action_name != "show" %>

  <div id="<%= dom_id component %>">
    <tr class="bg-blue border-b border-gray">
      <td scope="row" class="px-6 py-4 font-medium">
        <%= component.code %>
      </td>
      <td scope="row" class="px-6 py-4 font-medium">
        <p class="bg-gray-dark rounded p-1 text-center"><%= item_type(component.type) %></p>
      </td>
      <td scope="row" class="px-6 py-4 font-medium">
        <%= link_to component.name, item_path(component.id), data: { turbo_frame: "_top" } %>
      </td>
      <td scope="row" class="px-6 py-4 font-medium">
        <%= component.created_at.strftime("%d-%m-%Y %H:%M") %>
      </td>
      <td scope="row" class="px-6 py-4 font-medium flex gap-2 text-center">
        <% if component.pdf_url %>
          <%= link_to "PDF", "#{component.pdf_url}", class: "btn-positive" %>
          <%= link_to "DXF", "#{component.dxf_url}", class: "btn-positive" %>
        <% end %>
      </td>

      <td scope="row" class="px-6 py-4 font-medium">
        <%= link_to "Mostra",
        item_path(component.id),
        data: {
          turbo_frame: "_top",
        },
        class: "btn-primary" %>
      </td>
    </tr>
  </div>
<% else %>
  <div class="p-4">
    <h1 class="font-bold text-2xl my-4"><%= component.name %>
      |
      <%= component.code %></h1>

    <p class="font-bold my-2">Usato in gruppi:</p>
    <p>
      <%= link_to "#{component.parents.first.code}",
      item_path(component.parents.first.id),
      class: "btn-primary" %>
    </p>
    <% if component.pdf_url.present? %>
      <div style="width: 100%; height: 100vh;" class="mt-4">
        <object
          data="<%= component.pdf_url %>"
          type="application/pdf"
          width="100%"
          height="100%"
        >
          <embed src="<%= component.pdf_url %>" type="application/pdf"/>
        </object>
      </div>
    <% end %>
  </div>
<% end %>
