<%= simple_form_for order, class: "contents" do |form| %>
  <% if order.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(order.errors.count, "error") %>
        prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <% if action_name == 'new' %>
      <%= form.input :sourceable_id, as: :hidden, input_html: { value: @sales_order.id } %>
      <%= form.input :sourceable_type,
                 as: :hidden,
                 input_html: {
                   value: @sales_order.class.to_s,
                 } %>
    <% end %>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <%= form.input :date,
                 label: "Data",
                 as: :date,
                 html5: true,
                 input_html: {
                   class: "text-field",
                 } %>

    </div>

    <div>
      <%= form.label "Fornitore" %>

      <%= form.input :receivable_id,
                 collection: @suppliers,
                 label: false,
                 input_html: {
                   class: "text-field",
                 } %>
    </div>
    <% if order.sourceable.present? %>
      <div>
        <div class="label">
          <p>Distinta</p>
          <p><%= order.sourceable.number %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= form.submit "Salva", class: "btn-positive" if action_name == "edit" %>
    <%= form.submit "Crea Ordine", class: "btn-positive" if action_name == "new" %>
    <%= link_to "Cancella", purchase_orders_path, class: "btn-primary" %>

  </div>
<% end %>
