<div class="mx-auto w-full">
  <h1 class="p-4 font-bold text-4xl text-gray-dark">Ordine Fornitore
    <%= @order.number %></h1>
  <div class="flex gap-2 text-light mt-4 p-4">
    <div class="px-4 bg-gray-dark p-2 rounded">
      <strong class="block font-bold mb-1">Fornitore</strong>
      <%= @order.receivable.name %>
    </div>
    <div class="px-4 bg-gray-dark p-2 rounded">
      <strong class="block font-bold mb-1">Data</strong>
      <%= @order.date %>
    </div>
    <div class="px-4 bg-gray-dark p-2 rounded">
      <strong class="block font-bold mb-1">Numero</strong>
      <%= @order.number %>
    </div>
    <div class="px-4 bg-gray-dark p-2 rounded">
      <strong class="block font-bold mb-1">Ordine Cliente</strong>
      <%= @order.sourceable.number %>
    </div>
    <div class="px-4 bg-gray-dark p-2 rounded">
      <strong class="block font-bold mb-1">Componenti #</strong>
      <%= number_with_delimiter(@order.items.count, delimiter: ".") %>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 mt-4 m-4">
    <div class="overflow-x-auto shadow-md rounded-lg bg-blue col-span-2">
      <table class="w-full text-sm text-left text-light ">
        <thead class="text-xs text-light bg-gray-dark uppercase ">
          <tr>
            <th scope="col" class="px-6 py-3">
              Codice
            </th>
            <th scope="col" class="px-6 py-3">
              Nome
            </th>
            <th scope="col" class="px-6 py-3 text-center">

            </th>
            <th scope="col" class="px-6 py-3 text-center">
            </th>
          </tr>
        </thead>
        <tbody id="purchase_order_lines" is="turbo-stream">
          <%= render @order.order_lines %>
        </tbody>
      </table>
    </div>
    <div class="overflow-y-scroll h-screen">
      <% @component_buttons.each do | line | %>
        <div id="<%= dom_id line %>">
          <%= render partial: "purchase_orders/supplier_component_buttons",
          locals: {
            line: line,
          } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex gap-4 mt-4">
    <%= button_to "Elimina", order_path(@order), method: :delete, class: "btn-negative" %>
  </div>
</div>
