<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= order.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= order.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sender:</strong>
    <%= order.sender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Receiver:</strong>
    <%= order.receiver %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= order.type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this order",
    order,
    class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Elimina",
    order_path(@order),
    method: :delete,
    class: "mt-2 rounded-lg py-3 px-5 bg-red text-white font-medium" %>
  <% else %>
    <%= link_to "Edit this order",
    edit_order_path(order),
    class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
