<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing order</h1>
  <%= render "form", order: @order %>
  <div class="grid grid-cols-2">
    <div class="m-4 overflow-x-auto shadow-md rounded-lg bg-blue">
      <table class="w-full text-sm text-left text-light ">
        <thead class="text-xs text-light bg-gray-dark uppercase ">
          <tr>
            <th scope="col" class="px-6 py-3">
              Codice
            </th>
            <th scope="col" class="px-6 py-3">
              Nome
            </th>
            <th scope="col" class="px-6 py-3 text-center">
              Qta'
            </th>
            <th scope="col" class="px-6 py-3 text-center">
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @order.order_lines %>
        </tbody>
      </table>
    </div>
    <div id="component_buttons" is="turbo-frame" class="overflow-y-scroll h-screen">
      <%= render partial: "supplier_orders/supplier_component_buttons" %>
    </div>
  </div>
  <div class="inline-block p-4">
    <%= link_to "Show this order", @order, class: "btn-primary" %>
    <%= button_to "Elimina",
    order_path(@order),
    method: :delete,
    class: "mt-2 rounded-lg py-3 px-5 bg-red text-white font-medium" %>
  </div>
</div>
