<tr id="<%= dom_id supplier_order_line %>" class="bg-blue text-light">
  <td class="px-6 py-4 font-medium whitespace-nowrap">
    <%= supplier_order_line.item.parents.first.code %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap">
    <%= supplier_order_line.item.code %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap">
    <%= supplier_order_line.item.name %>
  </td>

  <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
    <% if supplier_order_line.item.pdf_url %>
      <%= link_to "PDF", "#{supplier_order_line.item.pdf_url}", class: "btn-positive" %>
      <%= link_to "DXF", "#{supplier_order_line.item.dxf_url}", class: "btn-positive" %>
    <% end %>
  </td>
  <td class="px-6 py-4 text-center">
    <% if action_name == 'edit' %>
      <%= link_to supplier_order_line_path, class: "btn-primary" do %>
        <i class="fa-solid fa-trash bg-gray"></i>
      <% end %>
    <% end %>

  </td>
</tr>
