<ul data-sidebar-menu="menu" data-active="Suggestions" class="flex flex-col overflow-hidden space-y-2">  
  <% Menu::ITEMS.each do |item| %>
    <li>
      <a
        href="<%= item[:link]%>"
        class="<%= 'text-gray bg-gray text-light' if params[:controller] == item[:controller] %> flex items-center text-lg font-bold p-2 text-gray rounded-lg hover:bg-gray hover:text-light group"
      >
        <div class="" >
          <i class="<%= 'text-light bg-dark-gray' if params[:controller] == item[:controller] %> <%= item[:icon]%> text-2xl group-hover:text-red-400"></i>
          <span data-sidebar-target="link" group-hover:bg-gray ml-3 sm:sr-only md:not-sr-only"><%= item[:name]%></span>
        </div>
      </a>
    </li>
  <% end %>
</ul>