<ul
  data-sidebar-menu="menu"
  data-active="Suggestions"
  class="mt-4 flex flex-col overflow-hidden space-y-2"
>
  <% Menu::ITEMS.each do |item| %>
    <li>
      <a
        href="<%= item[:link]%>"
        class="
          <%= 'bg-blue text-light' if (params[:controller] == item[:controller])  %> flex items-center text-xl p-2 text-light
          rounded-lg hover:bg-blue hover:text-light
        "
      >
        <div class="">
          <i
            class="
              <%= 'text-light' if params[:controller] == item[:controller] %> <%= item[:icon]%>
              text-blue group-hover:text-light
            "
          ></i>
          <span data-sidebar-target="link"><%= item[:name] %></span>
        </div>
      </a>
    </li>
  <% end %>
</ul>
