<tr id="<%= dom_id sales_order_line %>" class="bg-blue text-light">

  <td class="px-6 py-4 font-medium whitespace-nowrap">
    <%= sales_order_line.item.code %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap">
    <%= sales_order_line.item.name %>
  </td>
  <td class="px-6 py-4 font-medium whitespace-nowrap text-center">
    <%= sales_order_line.quantity.to_i %>
  </td>

  <td class="px-6 py-4 text-center">
    <% if action_name == 'edit' %>
      <%= link_to order_line_path, class: "btn-primary" do %>
        <i class="fa-solid fa-trash bg-gray"></i>
      <% end %>
    <% end %>

  </td>
</tr>
